
body{
			background:#36244D;
	font-family: hansen_grotesque;
	color: #FCFAF1;
}
@font-face {
  font-family: hansen_grotesque;
  src: url("./font/hansen_grotesque.woff");
}

#economic_statistic {
	background:#E0F9F0;
	  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "a"
    "b"
	"c"
	"d"
    "e"
	"f";
	color:black;
	
	max-width: 390px;
}


.rightmenubar {
	display: none;
}

.heading_economic {
	margin-top:50px;
	margin-bottom: 100px;
}

#search {
	margin-left:190px;
	margin-bottom: 10px;
	  background-color: transparent;
  outline: none;
  border-radius: 9px;
  border-color: #D7BDF8;
  font-size: 16px;
	color:white;
}

.slider {
	position: relative;
	margin-top: 100px;

}

/* Slideshow container */
.slideshow-container {
  position: absolute;
  margin-top: -40px;
  border: white;
  border-style: solid;
  border-radius: 9px;
}
.slideshow-container2 {
  position: absolute;
  margin-top: -40px;
	margin-left:190px;
  border: white;
  border-style: solid;
  border-radius: 9px;
	width: 200px;
	overflow: hidden;
	
}

/* Hide the images by default */
.slides {
  display: none;
}

.slidewidth {
  width:390px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -16px;
  padding: 1px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.month_year #category {
	position: absolute;
	margin-left:290px;
	margin-top:-120px;
	border-radius: 25px;
	padding-right: 40px;
}
.cost_teammember2 {
	display: none;
}
.cost_teammember {
	display: none;
}
.team_category {
	display: none;
}
#economic_statistic h2 {
	margin-left:30px;
}

#logged_in_ceo {
position: absolute;
	font-size: 10px;
margin-left: 350px;
	margin-top:-1300px;
	
}
#logged_in_ceo h2 {
	display: none;
}

#logged_in_ceo img {

	
}
.organize_mobile_logo{
	margin-top:-10px;
	margin-bottom: -30px;
	width: 200px;
	height: 65px;
}
         
.vectorlogo{
	width:200px;
	margin-top:-60px;
	position: absolute;
	
}
.efficiency_notification{
	width:14px;
	position: absolute;
	margin-top: 2px;
	margin-left:-20px;
	
}
.efficiency_profile {
	margin-left:5px;
	width: 20px;
	height: 20px;
	
}
.arrow3 {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	border-color: #D7BDF8;

	margin-left: 5px;
	margin-top:-15px;
	

}

#statistic_content {

margin-left:30px;
}
	.economic_total_statistic{
display: flex;

}
.economic_total_statistic li {
	display: table;
	width: 60px;
	margin-right: -50px;
	margin-left:15px;
}
.size {
	margin-top:10px;
}
.economic_total_statistic li .size {
	font-size: 10px;
}
.p1 {
	margin-top: 10px;
			margin-left:30px;
	margin-right: 120px;
}
.p2{
	margin-top: 10px;
	margin-right: 90px;
	width: 100px;
}
.p3 {
	margin-top: 10px;
	margin-right: 30px;
}
.economic_statistic_box {
	grid-area: c;
	background: #E4F8F0;
	width:350px;
	border-radius: 25px;
	border:solid;
	border-color:#36244D;
	margin-left:10px;
	margin-top:60px;
	
}
.teamcost_text {
	position: absolute;
	margin-top: 90px;
	display: none;
}
.monthly_member_cost_heading {
	display: none;
}
.h2total_statistic {
	display:none;
}

.economic_diagram_pc {
	display: none;
}
.economic_diagram{
	width:300px;
	margin-top:20px;
	margin-left:30px;
	margin-bottom: 20px;
	border-radius: 25px;
	border-color:black;
}
.economic_savings {
	grid-area: d;
	margin-top:20px;
	margin-bottom: 40px;
	
}
.economic_savings p{
	display: inline-block;
	margin-left: 50px;
	margin-top:0px;;
	position: absolute;

}
.economic_savings a{
	margin-left: 240px;
}

.economic_container_p2 {
	font-size:10pt;
}
.economic_container_p2 span{
	font-size:12pt;
  margin-left:210px;
	margin-top: -20px;
	position: absolute;
	width: 100px;
}
.economic_container_p3 {
	font-size:10pt;
}
.economic_container_p3 span{
	font-size:12pt;
  margin-left:210px;
	width: 100px;
	margin-top: 20px;
	position: absolute;
}
.economic_container_p3 p{
	margin-top:20px;
	width:150px;
	height: 1px;
}
.economic_container_p4, .economic_container_p4{
	
	margin-top: -30px;
	margin-left: 260px;
}
.greenbox_container img {
	margin-left:30px;
}	


.economic_savings li {
	display: table;
	margin-left:30px;
	
}
.economic_savings h2 {
	margin-left:100px;
	font-size: 16pt;
	margin-bottom: -20px;


}
#adobe_container{
	margin-top:50px;
}
.economic_savings img {
position: absolute;
}
.economic_used_month {
	grid-area: e;
	margin-top: 30px;
	margin-bottom: 20px;
}
.economic_used_month i{
	margin-left:50px;
}
.economic_used_month p{
	display: inline-block;

}
.economic_used_month li {
	display: table;
	margin-top:30px;
	margin-left:30px;
}
.economic_used_month a {
	margin-left:30px;

}
.economic_used_month img {
position: absolute;
}
.economic_used_month h2 {
	
	margin-left:100px;
	font-size: 16pt;
	margin-bottom: -20px;
	width:300px;


}
.cost_teammember {
	grid-area: f;
	background: #E4F8F0;
	width:350px;
	height: 300px;
	border-radius: 25px;
	border:solid;
	border-color:#36244D;
	margin-left:10px;
	margin-top:80px;
	overflow:hidden;
	margin-bottom: 20px;
	color:black;
	
}
.cost_teammember ul{
	font-size: 13pt;
	margin-bottom: 20px;
}
.cost_teammember li {
	display: table;
	margin-left:20px;
	margin-top: 15px;
}
.cost_teammember li p{
	font-size: 9pt;
	display: inline-block;
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
	
}
.cost_teammember li {
}
.cost_teammember li a{ 
position: absolute;
	margin-left:200px;
}
.cost_teammember li img {


	
}
.cost_teammember input{
	margin-left:20px;
	width: 310px;
	margin-top:5px;
	background: #36244D;
	color: #DCBCFD;
	border-radius: 25px;
}
.search_teammember {
	position: absolute;
	margin-left:190px;
	margin-top:5px;
}
.team_cost_heading {

	grid-area:f;
}
.team_cost_heading h2{
	font-size: 20px;
	margin-left:50px;
	display: none;
	

}
.team_cost_heading p {
	display: none;
}
.arrow {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	border-color: white;
	position: absolute;
	margin-left: 5px;
	margin-top:0px;
	

}
footer {
	grid-area:d;
	margin-left:130px;
}
.footer2 {
	margin-left:100px;
}
@media screen and (min-width: 600px) {
	.vectorlogo {
		margin-top:0px;
		margin-left: -210px;
	}
	
	.startside-user-logout{
		margin-left: 350px;
	}
	.economic_container_p2 span, .economic_container_p3 span{ 
	margin-left: 420px;
	}
	
	.slider {
		margin-left: 0px;

	}
	.slidewidth {
		width:540px;
	}
	.slideshow-container {
		width:540px;
		
	}
	.slideshow-container2 {
		width: 280px;
		margin-left:260px;
	}
	.prev, .next {
		margin-left:0px;
	}
	.month_year {
		margin-top:20px;
		margin-left:155px;
		margin-bottom:-30px;
	}
	h2 {
		color:white;
	}
	
	#economic_statistic {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "a a"
    "b b"
	"c c"
	"d d"
    "e e"
	"f f";
					background:#36244D;
		margin-top:50px;
	}
     #logged_in_ceo {
		margin-left:380px;
		 margin-top: -1300px;
		 position: absolute;
	}

	#logged_in_ceo h2 {
		display: grid;
		font-size: 10px;
	}

	.efficiency_notification {
		
	}
	.efficiency_profile{
		position: absolute;
		margin-top:00px;
		margin-left:-50px;
	}
	.arrow {
		margin-left: 140px;
		margin-top: -20px;
	}
	#search {
		margin-top:20px;
		margin-left:340px;
	}

	.h2total_statistic{
		display: inline-block;
		
		position: absolute;
		margin-left:110px;
		margin-top:-40px;

	}
	.monthly_member_cost_heading {
		display: none;
	}
	#economic_statistic h2{
		font-size:15pt;
		width:400px;
	}
	
	.economic_total_statistic {
grid-area: a;
		border: solid;
		border-radius: 25px;
		background: #E0F9F0;
	}

	.economic_total_statistic p{
		margin-left:60px;
		
		}
	.economic_statistic_box  {
	grid-area: b;
		margin-top:50px;
		margin-left:0px;
		padding-right: 200px;
	}
	.teamcost_text{
	margin-top:90px;
		position: absolute;
		display: block;
		
	}
	.economic_diagram {
	display: none;
}
	.economic_diagram_pc {
	display:grid;
			width:530px;
		height: 150px;
	margin-top:20px;
padding-left: 10px;
	margin-bottom: 20px;
	border-radius: 25px;
	border-color:black;
		
}
	.box_browserstack{
		border: solid black;
		border-radius: 25px;
		width:550px;
		background: #E0F9F0;
		margin-top: 20px;
		
		
	}

	#browserstack_container li {
		border:solid;
		border-color: #CCEBDB;
		border-radius: 5px;
		width:500px;
		height: 30px;
		background: #CCEBDB;
		padding:10px;
		margin-left: 10px;
		margin-top: 10px;
        margin-bottom: 10px;

	
		
	
	}
		#browserstack_container p {
			margin-left: 60px;
			margin-top:0px;
			
	}
	#browserstack_container img{
		margin-top:-5px;
	}
	#browserstack_container a{
		margin-top:-25px;
	}


.economic_container_p2 a {
	margin-left:375px;
	width: 200px;
	font-weight: bold;
	font-size:12pt;
	}
			

#adobe_container li {
		border:solid;
		border-color: #CCEBDB;
		border-radius: 5px;
		width:500px;
		height: 40px;
		background: #CCEBDB;
		padding:10px;
	padding-bottom: 30px;
		margin-left: 10px;
	margin-top: -20px;
	margin-bottom: 30px;

	
		
	
	}
		#adobe_container p {
			margin-left: 60px;
			
	}
.economic_container_p3 a {
	margin-left:380px;
	margin-top: 10px;
	width: 200px;
	font-weight: bold;
	font-size: 12pt
	}
	#jetpack_container li {
		border:solid;
		border-color: #F2D7CA;
		border-radius: 5px;
		width:500px;
		background: #F2D7CA;
		padding:10px;
	padding-bottom: 0px;
		margin-left: 10px;
	margin-top: 10px;

	
		
	
	}
	#jetpack_container {
		margin-bottom: 20px;
		margin-top: 20px;
	}
		#jetpack_container p {
			margin-top:5px;
			
	margin-left:205px;
	}
.economic_container_p4 span {
	margin-left:220px;
	margin-top: 10px;
	}
	.economic_container_p4 p{
		margin-left:200px;
	}
	#bitbucket_container {
		margin-top:20px;
		margin-bottom:20px;
	}
	#bitbucket_container li {
		border:solid;
		border-color: #F2D7CA;
		border-radius: 5px;
		width:500px;
		background: #F2D7CA;
		padding:10px;
	padding-bottom: 0px;
		margin-left: 10px;
	margin-top: 10px;
		margin-bottom: 10px;

	
		
	
	}
		#bitbucket_container p {
			margin-left: 60px;
			
	}
	#bitbucket_container p, a{
	margin-left:205px;
		margin-top: 5px;
	}
	
.economic_container_p4 a {
	margin-left:220px;
	margin-top: 10px;
	}
	.economic_container_p4 p{
		margin-left:200px;
	}
	.economic_used_month {
	margin-top:0px;
	}
	.team_cost_heading{
		margin-left:-20px;
	}
	.cost_teammember {
		margin-top: 50px;
		margin-left:100px;
	}
	footer{
		margin-left: 220px;
	}
	.footer2 {
	margin-left:200px;
}
}
@media screen and (min-width: 1000px) {
	.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu menu main main right right'
  'footer footer footer footer footer footer';
	}
	.rightmenubar{
		display: block;
		margin-top:-1200px;
		margin-left:900px;
	
	}
	.rightmenubar img {
		display: table;
		margin-top:50px;
			width:30px;
	}
	.rightmenubar img:hover {
	cursor: pointer;
	}
	
		.startside-user-logout{
			grid-area: right;
		margin-left: 767px;
			width: 300px;
			font-size: 13px;
			
	}
	.cost_teammember {
	display: grid;
		grid-area: menu;
		margin-left:0px;
		margin-top: -840px;
}
	

	.slider {
		margin-left:250px;
	}
	#search {
		margin-left:580px;
	}
	.slideshow-container {
		width:550px;
		margin-left: -20px;
	}
	.slideshow-container2 {
		margin-left:250px;
	}
	.month_year {
		margin-left:355px;
	}
	.month_year #category {
		width: 140px;
	}
	#logged_in_ceo {
		margin-left:630px;
	}
	.team_category {
		
		display: grid;
		grid-area: menu;
		
		
		
		
	}
	.team_category p {
		color:white; 
	}
	.team_category li:hover {
		cursor: pointer;
	}
	
	#statistic_content {
		grid-area: main;
		margin-left: -200px;
		padding-top: 50px;
	}
	#economic_statistic {
		margin-left: 240px;
		margin-top:40px;
	}
	.heading_economic{
		margin-left:230px;
	}
	.h2total_statistic {
		margin-left:230px;
	}
	.team_category {
		grid-area: menu;
		position: absolute;
		width:200px;
		height: 320px;
		margin-top:100px;
		margin-left:30px;
	
	}
	.container_overview {
		border:solid white;
	padding-right:90px;
		padding: 10px 50px 10px 10px;
		margin-bottom: 10px;
		border-radius: 5px;
	}
	.container_overview2  {
			padding-right:90px;
		padding: 10px 50px 10px 10px;
		margin-bottom: 10px;
		border-radius: 5px;
		background: #FCF4F0;
		color:#36244D;
	}
		.container_ceo {
		border:solid white;
	padding: 10px 90px 10px 10px;
		margin-bottom: 10px;
		border-radius: 5px;
	}
	.container_ceo2 {
				border:solid white;
	padding: 10px 90px 10px 10px;
		margin-bottom: 10px;
		border-radius: 5px;
				background: #FCF4F0;
		color:#36244D;
	}
	
			.container_developer {
		border:solid white;
	padding: 10px 40px 10px 10px;
		margin-bottom: 10px;
	    border-radius: 5px;
				
	}
			.container_developer2 {
		border:solid white;
	padding: 10px 40px 10px 10px;
		margin-bottom: 10px;
	    border-radius: 5px;
		background: #FCF4F0;
		color:#36244D;
				
	}
			.container_projectmanager {
		border:solid white;
	padding: 10px 26px 10px 10px;
		margin-bottom: 10px;
		border-radius: 5px;
				width:100px;
	}
			.container_projectmanager2 {
		border:solid white;
	padding: 10px 26px 10px 10px;
		margin-bottom: 10px;
		border-radius: 5px;
				width:100px;
		background: #FCF4F0;
		color:#36244D;
	}
			.container_designer {
		border:solid white;
	padding: 10px 50px 10px 10px;
		margin-bottom: 10px;
     	border-radius: 5px;
				
	}
			.container_designer2 {
		border:solid white;
	padding: 10px 50px 10px 10px;
		margin-bottom: 10px;
     	border-radius: 5px;
		background: #FCF4F0;
		color:#36244D;
				
	}
	.team_category ul {
		margin-left:-50px;
	}
	.team_category li {
		display: table;
		margin-bottom: 20px;
	
		
	}
	.team_category li:hover {
		background: #FCF4F0;
		color:#36244D;
		border-color:#FCF4F0;
	}
	.monthly_member_cost_heading {
		opacity: 60%;
		display: block;		font-size:12
pt;
		margin-top:490px;
		margin-left:20px;
		position: absolute;
		width: 180px;
	}
	
	.cost_teammember {
		width:230px;
	
		
		height: 310px;
	}
	.cost_teammember ol{
		margin-left:-50px;
	}
	.cost_teammember ul {
		margin-left:10px;
	}
	.cost_teammember li span{
		margin-left:80px;
		float:right;
	}
	.cost_teammember input
	{

	margin-left:10px;
	width: 200px;
	}
	
	.arrow2 {
		
		margin-left:110px;
		margin-top: -35px;
	}
	.team_cost_heading h2 {
		display: none;
		
	}
	.team_cost_heading p {
		display: block;
		position: absolute;
		margin-top: -880px;
		margin-left:20px;
	}
	footer {
		margin-left:-550px;
		margin-top: 850px;
	}
	.footer2 {
	margin-left:450px;
}
}
@media screen and (min-width: 1200px) {
	.rightmenubar {
		margin-left:1080px;
	}
	footer {
		position: absolute;
		margin-left:450px;
		margin-top: 1350px;
		padding-bottom: 50px;
	}
	.cost_teammember {
		margin-top:50px;
	}
	.team_cost_heading p{
		margin-top: 0px;
	}
}
@media screen and (min-width: 1300px) {
		#statistic_content {
		
		margin-left: -200px;
		
	}
	#logged_in_ceo {
		margin-left:1110px;
		    margin-top: -1390px;
	}
	.rightmenubar{ 
		margin-left:1200px;
	}
	.month_year #category { 
		
	width:200px;
		margin-left:580px;
		
	}
	.searchbox {
		position: relative;
		margin-left: 340px;
    margin-top: 50px
	}
	.slideshow-container {
		width: 900px;
		
	}
	.slidewidth {  
		width:900px;
	}
		
	.economic_total_statistic{
		width: 900px;
	}
.economic_diagram_pc {
	width:874px;
	height: 193;
	}
	.economic_statistic_box {
		width:700px;
		height: 193;
	}
	
	.box_browserstack {
		width: 900px;
	}
#browserstack_container li {
	width:850px;

}
	#adobe_container li {
			width:850px;
	}
	#jetpack_container li {
		width:850px;
	}
		#bitbucket_container li {
		width:850px;
	}
  .economic_total_statistic li {
		padding-right:200px;
	  margin-left:0px;
	}
		.economic_container_p2 span, .economic_container_p3 span{ 
	margin-left: 720px;
			width: 200px;
	}
	.economic_container_p4, .economic_container_p4
	{
		margin-left: 600px;
	}
	footer {
    margin-left: 700px;
    margin-top: 1400px;
	}
}

@media screen and (min-width: 1900px) {
	footer {
    margin-left: 850px;

	}
}