body{
	background:#33254B;
	font-family: hansen_grotesque;
}

@font-face {
  font-family: hansen_grotesque;
  src: url("./font/hansen_grotesque.woff");
}

                                                /* Login page */
 #login_site{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "a "
    "c "
	"e "
	"g "
    "f ";


}
.logo_efficiency {
	font-size: 26pt;
	color: #FCFAF1;
	grid-area: a;
	margin-top:0px;
	position: absolute;
}
.logo_byabtion {
		font-size: 7pt;
	color: #FCFAF1;
	grid-area: a;
	margin-top: 40px;
	margin-left:4px;
	position: absolute;

}

 .login_pomo_orga{

	grid-area: a;
	margin-top:75px;
    position: absolute;
	margin-left:240px;


}
.pomoclass{

	margin-right:-15px;


}


.login_pomo_orga li {
	display: table;
margin-left: 10px;
	margin-top:-70px;
	margin-bottom: 70px;

}

.login_pomo_orga li img {
	width:25px;
	height: 25px;
	margin-left:-40px;

	}
.login_pomo_orga li p {
	margin-top:-25px;
	margin-left:-10px;
}



.login_signin_text{
	grid-area: c;
	font-size:36pt;
	margin-left:70px;
	margin-top: 175px;
}
.login_form{
	grid-area: e;
}
.login_form input {
	border-radius: 7px;
	width:350px;

	background: #33254B;
	padding:10px;
}
#email {
	color:#FCFAF1;
}


.continue {
		background: #D7BDF8;
	color:#3B2E52;
	padding:10px;
	border-radius: 25px;
	border-color:#DCBCFD;
	width: 200px;
	height: 40px;
	margin-left: 175px;
    font-size:16px;
	font-weight: bold;
	position: absolute;
	margin-top:-50px;


}
.continue:hover  {
	background: #FCF4F0;
}


#forgotpassword  {
	text-decoration: underline;
}
#continue_signin{
	grid-area: g;
}
.login_ckeckbox{
    padding:20px;
	color:black;
	height: 20px;


}
#login_checkmark {
	margin-left:-165px;
}

.login_checkbox_text{
margin-top:-20px;;
	margin-left:25px;
	color:#FCFAF1;
}


.signup {
	grid-area: g;

}
.signup button {
	border-radius: 25px;
	border-color:#DCBCFD;
	width: 375px;
	padding:10px;
	display: table;
	margin-top:5px;
}


#signup_email {
	background: #33254B;
	color:#FCFAF1;;
}
#signup_email:hover {
		background: #FCF4F0;
	color:#33254B;
}
#signup_google {
	background: #E0776D;
	border-width: 0px;

}
#signup_google:hover {
		background: #FCF4F0;
	color:#33254B;
}

#signup_microsoft{
	background:#2B65B2;
	border-width: 0px;
}
#signup_microsoft:hover {
		background: #FCF4F0;
	color:#33254B;
}
#login_discolsure_policy{
	grid-area: f;
	margin-left:115px;
	margin-top:35px;
}

			                                /* Login page (Media 600) */

@media (min-width: 600px) {
	#login_site {
		 display: grid;
  	grid-template-columns: auto auto auto;
  	grid-template-rows: auto auto auto auto;
  	grid-template-areas:
    "a . c"
	"a b c"
    "a d c";


}
	.login_pomo_orga {
		grid-area: a;
		display: inline;
		margin-top:200px;
		position: relative;

	}
	.logo_efficiency {
		font-size:36pt;
	}
	.logo_byabtion{
		font-size: 10pt;
		margin-top:50px;
	}
	.login_pomo_orga{
		font-size: 26px;
		margin-left:10px;
	}
	.login_pomo_orga li img{
		width:25px;
		height: 25px;

	}
	.login_pomo_orga li p {
		margin-top:-34px;
	}

	.login_signin_text{
		margin-top: 75px;
		margin-bottom: 10px;
        grid-area: b;
	}

	.continue {
		grid-area: d;
	}
	.login_form{
		margin-top: 50px;
		grid-area: b;
	}
	.signup{
		grid-area: d;
	}
#login_ckeckbox{

        grid-area: d;
	}

 #login_discolsure_policy{
	grid-area: d;
	margin-left:115px;
}
			                            /* Login page (Media 900) by Kasper */

@media only screen and (min-width: 900px) {
	.login_form input {
		width:500px;
		height: 25px;
	}

	.login_ckeckbox {
		margin-left:350px;
	}

	#login_checkmark{
		margin-left:0px;
		width:15px;
		margin-top: -10px;
	}

	.continue {
		width:150px;
		margin-left: 375px;
		margin-top:-100px;
	}

	.signup{
		margin-top:-10px;
	}

	.signup button{
		width:525px;
	}

	.login_signin_text{
		margin-left:170px;
	}

	.login_checkbox_text{
		margin-top:-25px;
	}

	#login_discolsure_policy{
		margin-left: 189px;
	}
}
}

										/* Startside by Timm*/
.startside-body{
	margin: 0px;
	width: 100%;
	height: 100vh;
}

.startside-main{
	padding: 0px;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px;
}

.startside-pomodoro{
	background-color: #F2D7CA;
	color: #33254B;
	height: 100vh;
	width: 50vw;
}

.startside-pomodoro:hover {
	background-color: #F7C9B3;
}

.startside-pomodoro:hover h1 {
	color: #FCFAF0;
}

.startside-organize{
	background-color: #E0F9F0;
	color: #33254B;
	height: 100vh;
	width: 50vw;
}

.startside-organize:hover {
background-color: #A6E2CC;
}

.startside-organize:hover h1 {
	color: #FCFAF0;
}

.startside-header{
	z-index: 100;
	display: flex;
	position: fixed;
	justify-content: space-between;
	width: 100vw;
	height: 10vh;
}

.startside-efficiency-logo{
	margin-top: 8px;
	margin-left: 8px;
}

.logo-efficiency {
	font-size: 26pt;
	color: #FCFAF1;
	margin-top:0px;
	margin-bottom: 0px;
}
.logo-byabtion {
		font-size: 7pt;
	color: #FCFAF1;
	margin-top: 0px;
	margin-left:4px;

}

.startside-efficiency-logo p{
color:#33254B;
}

.startside-user-logout{
	display: flexbox;
	margin-right: 30px;
}

.startside-user{
	display: flex;
	flex-direction: row;
	color: #33254B;
	align-items: center;
	padding-left: 10px;
	padding-right: 15px;
}

.startside-user p{
	padding-right: 10px;
}
.startside-user button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#logoutButton{
	display: none;
	float: right;
	margin-right: 15px;
	padding: 5px 10px 5px 10px;
	border-radius: 9px;
	text-align: center;
	background-color: #D7BDF8;
	overflow: hidden;
	white-space: nowrap;
	border-style: none;
	box-shadow: 0 1px 2px 0 rgb(31 45 61 / 50%);
}

button a{
	text-decoration: none;
}

#notifications{
	display: none;
	border-radius: 9px;
	width: 190px;
	height: 220px;
	text-align: center;
	background-color: #e4d4fa;
	overflow: hidden;
	white-space: nowrap;
	border-style: none;
	flex-direction: column;
	font-size: 13px;
	position: absolute;
	box-shadow: 0 1px 2px 0 rgb(31 45 61 / 50%);
}

.notifications-header{
	display: flex;
	align-items: center;
	justify-content: center;
	width:190px;
	height: 50px;
	font-size:smaller;
	color: #33254B;
	background-color: #D7BDF8;
}

.notifications-header p{
	font-family: "Hansen Grotesque";
	margin-left: 10px;
}

#notifications p{
	margin: 10px 0px 0px 7px;
	text-align: start;
}

.startside-logo-header{
	display: flex;
	margin-top: 50%;
	justify-content: center;
	align-items: center;
	cursor:default;
	text-decoration: none;
}

.startside-logo-header h1, img{
	cursor: pointer;
	margin: 0px;
}

.startside-header-link{
	text-decoration: none;
}

.startside-header-link:visited{
	color: #33254B;
}


.read-more-pomodoro{
	display: flex;
	justify-content: center;
	margin: -10px 0px 0px 143px;
}

.read-more-pomodoro button{
	overflow: hidden;
	white-space: nowrap;
	border-style: none;
	background:none;
	cursor: pointer;
	color: #33254B;
	font-family: "Hansen Grotesque";
}

.read-more-organize{
	display: flex;
	justify-content: center;
	margin: -10px 0px 0px 129px;
	text-align: center;
}

.read-more-organize button{
	overflow: hidden;
	white-space: nowrap;
	border-style: none;
	background:none;
	cursor: pointer;
	color: #33254B;
	font-family: "Hansen Grotesque";
}

#startside-about-pomodoro{
	display: none;
	flex-direction: column;
	border-radius: 27px;
	width: 250px;
	height: 310px;
	background-color: #FCF4F0;
	margin: 0 auto;
	padding: 5px 0px 0px 10px;
	box-shadow: 0 1px 2px 0 rgb(31 45 61 / 50%);
}

#startside-about-pomodoro p{
	margin-left: 0px;
}

#startside-about-organize{
	display: none;
	flex-direction: column;
	border-radius: 27px;
	width: 250px;
	height: 310px;
	background-color: #FCF4F0;
	margin: 0 auto;
	padding: 5px 0px 0px 10px;
	box-shadow: 0 1px 2px 0 rgb(31 45 61 / 50%);
}

#startside-about-organize p{
	margin-left: 0px;
}

@media only screen and (max-width: 700px) {
	.startside-main{
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.startside-pomodoro{
		height: 50vh;
		width: 100vw;
	}

	.startside-organize{
		height: 50vh;
		width: 100vw;
	}

	#startside-about-pomodoro{
		position: fixed;
		width: 250px;
		padding: 5px 5px 5px 5px;
		margin: 5% 15% 15% 15%;
		height: fit-content;
	}
	#startside-about-pomodoro h3{
		margin-left: 0px;
		font-size: medium;
	}

	#startside-about-pomodoro p{
		margin-left: 0px;
		font-size: smaller;
	}

	#startside-about-organize{
		position: fixed;
		width: 250px;
		padding: 5px 5px 5px 5px;
		margin: 5% 15% 15% 15%;
		height: fit-content;
	}
	#startside-about-organize h3{
		margin-left: 0px;
		font-size: medium;
	}

	#startside-about-organize p{
		margin-left: 0px;
		font-size: smaller;
	}
}
