body{
	background:#36244D;
	font-family: hansen_grotesque;
	color: #FCFAF1;
}
@font-face {
  font-family: hansen_grotesque;
  src: url("./font/hansen_grotesque.woff");
}

                                                /* Login page */
#login_site{ 
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "a "
    "c "
	"e "
	"g "
    "f ";
	

}
.logo_efficiency {
	font-size: 26pt;
	color: #FCFAF1;
	grid-area: a;
	margin-top:0px;
	position: absolute;
}
.logo_byabtion {
		font-size: 7pt;
	color: #FCFAF1;
	grid-area: a;
	margin-top: 40px;
	margin-left:4px;
	position: absolute;

}

 .login_pomo_orga{

	grid-area: a;
	margin-top:75px;
    position: absolute;
	margin-left:240px;

	
}
.pomoclass{
	
	margin-right:-15px;
	
	
}


.login_pomo_orga li {
	display: table;
margin-left: 10px;
	margin-top:-70px;
	margin-bottom: 70px;
  
}

.login_pomo_orga li img {
	width:25px;
	height: 25px;
	margin-left:-40px;

	}
.login_pomo_orga li p {
	margin-top:-25px;
	margin-left:-10px;
}



.login_signin_text{
	grid-area: c;
	font-size:36pt;
	margin-left:70px;
	margin-top: 175px;
}
.login_form{
	grid-area: e;
}
.login_form input {
	border-radius: 7px;
	width:350px;
	
	background: #3B2E52;
	padding:10px;
}
#email {
	color:#FCFAF1;
}


.continue {
		background: #D7BDF8;
	color:#3B2E52;
	padding:10px;
	border-radius: 25px;
	border-color:#DCBCFD;
	width: 200px;
	height: 40px;
	margin-left: 175px;
    font-size:16px;
	font-weight: bold;
	position: absolute;
	margin-top:-50px;

	
}
.continue:hover  {
	background: #FCF4F0;
}


#forgotpassword  {
	text-decoration: underline;
}
#continue_signin{
	grid-area: g;
}
.login_ckeckbox{
    padding:20px;
	color:black;
	height: 20px;

	
}
#login_checkmark {
	margin-left:-165px;
}

.login_checkbox_text{
margin-top:-20px;;
	margin-left:25px;
	color:#FCFAF1;
}


.signup {
	grid-area: g;
	
}
.signup button {
	border-radius: 25px;
	border-color:#DCBCFD;
	width: 375px;
	padding:10px;
	display: table;
	margin-top:5px;
}


#signup_email {
	background: #3B2E52;
	color:#FCFAF1;;
}
#signup_email:hover {
		background: #FCF4F0;
	color:#3B2E52;;
}
#signup_google {
	background: #E0776D;
	border-width: 0px;

}
#signup_google:hover {
		background: #FCF4F0;
	color:#3B2E52;
}

#signup_microsoft{
	background:#2B65B2;
	border-width: 0px;
}
#signup_microsoft:hover {
		background: #FCF4F0;
	color:#3B2E52;;
}
#login_discolsure_policy{
	grid-area: f;
	margin-left:115px;
	margin-top:35px;
}
  
                                                    /* Effiency Frontpage */
#efficiency_frontpage  {
	color:#36244D;
	background: #E0F9F0;
}
.logo_byabtion_frontpage {
	font-size: 7pt;
}
.efficiency_notification{
	width:15px;
	height: 15px;
}
#logged_in_as {
grid-area: p;
margin-top:-355px;
margin-left: 20px;
	font-size: 10px;
	position: absolute;
	
}
#logged_in_as2 {
	display: none;
}

#logged_in_as img {
	
width:15px;
	
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	border-color: #36244D;
	margin-top:40px;
	margin-left: -40px;
}

#efficiency_header{
    width: 100%;	
    background-color: #F2D7CA;
}
.pomo_logo {
	
	position: absolute;
	margin-left:160px;
margin-top:100px;
	font-size:20pt;
	
}

	
#efficiency_header h2:hover{
	color: #DCBCFD;

}
#efficiency_header img{
	margin-top:32px;
	margin-left:-60px;
	position: absolute;


}
.pomo_logo p{
	
	text-decoration: underline;
	grid-area: b;
	width:200px;
	margin-top:-35px;
	margin-left:130px;
	font-size: 12pt;
}
#efficiency_organize  {
	
	display: grid;
	grid-area: c;
margin-top:450px;
	margin-left: 105px;
	position: absolute;
	
}
#efficiency_organize img {
position: absolute;
	margin-top: 30px;
	margin-left: -10px;
}
#efficiency_organize h2 {
	grid-area: c;
	font-size: 30pt;
	margin-left: 50px;
  
}
#efficiency_organize h2:hover{
	color: #DCBCFD;

}
#efficiency_organize p {
margin-top:80px;
	margin-left:150px;
grid-area: c;
	text-decoration: underline;
}
@media (min-width: 600px) {
	
	
	                                                /* Login page (Media 600) */
	#login_site {
		 display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "a . c"
	"a b c"
    "a d c";
	

}
	.login_pomo_orga {
		grid-area: a;
		display: inline;
		margin-top:100px;
		position: relative;
	
	}
	.logo_efficiency {
		font-size:36pt;
	}
	.logo_byabtion{
		font-size: 10pt;
		margin-top:50px;
	}
	.login_pomo_orga{
		font-size: 26px;
		margin-left:10px;
	}
	.login_pomo_orga li img{
		width:25px;
		height: 25px;
	
	}
	.login_pomo_orga li p {
		margin-top:-34px;
	}

	.login_signin_text{
		margin-top: 75px;
		margin-bottom: 10px;
        grid-area: b;
	}
	
	.continue {
		grid-area: d;
	}
	.login_form{
		margin-top: 50px;
		grid-area: b;
	}
	.signup{
		grid-area: d;
	}
#login_ckeckbox{
		
        grid-area: d;
	}
	.login_signin_field{
		
	}

#login_discolsure_policy{
	grid-area: d;
	margin-left:115px;
}

/* Startside */
.startside-body{
	padding: 0px;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px;
}

.startside-pomodoro{
	background-color: #F2D7CA;
	color: #36244D;
	height: 100vh;
	width: 50vw;
}

.startside-pomodoro:hover {
	background-color: #F7C9B3;
}

.startside-pomodoro:hover h1 {
	color: #FCFAF0;
}

.startside-organize{
	background-color: #E0F9F0;
	color: #36244D;
	height: 100vh;
	width: 50vw;
}

.startside-organize:hover {
background-color: #A6E2CC;
}

.startside-organize:hover h1 {
	color: #FCFAF0;
}

.startside-efficiency-logo{
	margin-top: 8px;
	margin-left: 8px;
}

.startside-efficiency-logo p{
color:#36244D;
}

.startside-user-logout{
	float: right;
}

.startside-user{
	display: flex;
	color: #36244D;

}

.startside-user{
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}

.startside-user p{
	padding-right: 10px;
}
.startside-user button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#logoutButton{
	display: none;
	float: right;
	margin-right: 4px;
	padding: 5px 10px 5px 10px;
	border-radius: 9px;
	text-align: center;
	background-color: #D7BDF8;
	overflow: hidden;
    white-space: nowrap;
	border-style: none;
}

button a{
	text-decoration: none;
}

#notifications{
	display: none;
	border-radius: 9px;
	position: absolute;
	width: 190px;
	height: 220px;
	text-align: center;
	background-color: #e4d4fa;
	overflow: hidden;
    white-space: nowrap;
	border-style: none;
	flex-direction: column;
	font-size: 13px;
}

.notifications-header{
	display: flex;
	align-items: center;
	justify-content: center;
	width:190px;
	height: 50px;
	font-size:smaller;
	color: #36244D;
	background-color: #D7BDF8;
}

.notifications-header p{
	font-family: "Hansen Grotesque";
	margin-left: 10px;
}

#notifications p{
	margin: 10px 0px 0px 7px;
	text-align: start;
}

.startside-logo-header{
	display: flex;
	margin-top: 50%;
	justify-content: center;
	align-items: center;
	cursor:default;
	text-decoration: none;
}

.startside-logo-header h1, img{
	cursor: pointer;
	margin: 0px;
}

.startside-header-link{
	text-decoration: none;
}

.startside-header-link:visited{
	color: #36244D;
}


.read-more-pomodoro{
	display: flex;
	justify-content: center;
	margin: -10px 0px 0px 163px;
}

.read-more-pomodoro button{
	overflow: hidden;
    white-space: nowrap;
	border-style: none;
	background:none;
	cursor: pointer;
}

.read-more-organize{
	display: flex;
	justify-content: center;
	margin: -10px 0px 0px 139px;
	text-align: center;
}

.read-more-organize button{
	overflow: hidden;
    white-space: nowrap;
	border-style: none;
	background:none;
	cursor: pointer;
}

#startside-about-pomodoro{
	display: none;
	flex-direction: column;
	border-radius: 27px;
	width: 250px;
	height: 200px;
	background-color: #FCF4F0;
	margin: 0 auto;
}

#startside-about-pomodoro p{
	margin-left: 20px;
}

#startside-about-organize{
	display: none;
	flex-direction: column;
	border-radius: 27px;
	width: 250px;
	height: 200px;
	background-color: #FCF4F0;
	margin: 0 auto;
}

#startside-about-organize p{
	margin-left: 20px;
}
			                                 /* Efficiency Frontpage (Media 600) */
#logged_in_as {
display: none;	
}
	#logged_in_as2 {
		display: grid;
		grid-area:p;
		margin-top:-10px;
		margin-left:80%;
		position: absolute;
	}
	#logged_in_as2 .efficiency_notification{
		margin-left:-130px;
		margin-top: 15px;
		position: absolute;
	}
	#logged_in_as2 .arrow{
		width:0px;
		margin-left:105px;
		margin-top:20px;
		position: absolute;
	}
	#logged_in_as2 img {
		margin-top: 10px;
		margin-left:-100px;
	}
	#logged_in_as2 h2 {
		font-size: 13px;
		width:240px;
		margin-top: -20px;
		margin-left:-70px;
	}
	.logo_efficiency_frontpage {
		font-size:36px;
	}
	.logo_byabtion_frontpage {
		font-size:16px;
		width:100px;
		margin-top:-40px;
	}
	.pomo_logo {
		margin-top:360px;
		margin-left:10px;;
	}
	.efficiency_readmore{
		margin-left:90px;
		width: 100px;
		position: absolute;
		text-decoration: underline;
	}
		
	#efficiency_header img{
		position: fixed;
		margin-left:40px;
		margin-top:-50px;
	}

	#efficiency_organize p {
		margin-left:125px;
	}
	
	
	#efficiency_organize  {
		margin-top:280px;
		margin-left:370px;;
	}
	

    
	
}
@media (min-width: 800px) { 
	
	
				                                 /* Efficiency Frontpage (Media 800) */
		#efficiency_organize  {

		margin-left:550px;;
		
	}
}
@media (min-width: 900px) {

	
		                                 /* Login page (Media 900) */
	
	
	.login_form input {
		width:500px;
		height: 25px;
	}

.login_ckeckbox {
	margin-left:350px;
}
	#login_checkmark{
		margin-left:0px;
		width:15px;
		margin-top: -10px;
	}
.continue {
	width:150px;
	margin-left: 375px;
	margin-top:-100px;
}
	.signup{
		margin-top:-10px;
	}
.signup button{

	width:525px;
}
		.login_signin_text{
			margin-left:170px;
	}
	.login_checkbox_text{
		margin-top:-25px;
		}
#login_discolsure_policy{
	margin-left: 189px;
		}
					                                 /* Efficiency Frontpage (Media 900) */
		#efficiency_organize  {

		margin-left:700px;;
		
	}
	#logged_in_as2 {
		margin-left:85%;
	}
}

@media (min-width: 1250px) { 
	
	
	
				                                 /* Efficiency Frontpage (Media 1250) */
		#logged_in_as2 {
		margin-left:100%;
	}
	#logged_in_as2 {
		grid-area: p;
		margin-left:90%;
		
	}	
	#efficiency_organize  {
		margin-left: 1000px;
		
	}
	.pomo_logo {
		margin-left:100px;
	}
	
}